<div class="row">
    <div class="three columns">
        <img class="profile-pic" src="images/avt_duck.jpg" alt="" />
    </div>

    <div class="nine columns main-col">
        <h2>About Me</h2>

        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem
        </p>

        <div class="fh5co-entry padding">
            <div>
                <p>
                    + Address:
                    <a href="mailto: <%=informations[0].address %>"
                        ><%=informations[0].address %></a
                   
                    >
                </p>
                <p>
                    + Web_link:
                    <a href="<%=informations[0].web_link %>"
                        ><%=informations[0].web_link %></a
                   
                    >
                </p>
                <p>
                    + Phone:
                    <a href="tel: <%=informations[0].phone %>">
                        <%=informations[0].phone %></a
                   
                    >
                </p>
            </div>
        </div>

        <!-- end row -->
    </div>
    <!-- end .main-col -->
</div>
